/*General Styling + Welcome Page*/

nav {
	padding: 10px;
}

div .btn {
	margin: 15px;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.col-centered {
	margin: 0 auto;
	float: none;

}

.features-section {
	padding: 100px 30px;
	text-align: center;
}

.features-section .glyphicon {
	font-size:5em;
	padding: 10px;
	color: #0176FF;
	text-align: center;
	margin: 0 auto;
}

#welcome-graph {
	font-size: 10em;
	padding: 40px 0px 0px;
	color: #0176FF;
}

/* Application Page */

.submit-section {
	padding: 0px 0px 30px 0px;
	max-width: 75%;
}

#graph-it-button {
}

/*Flexbox Layout*/
